* {
  font-family: "courier new";
}

input {
  font-family: "courier new";
  padding: 10px 25px;
  border: none;
  box-shadow: 0 0 2px 1px #e5e5e5;
  margin: 0 10px;
}

button {
  font-family: "verdana";
  padding: 5px 10px;
  background: transparent;
  border: 1px solid rgba(56, 73, 84, 1);
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  background: rgba(56, 73, 84, 1);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

tr,
td {
  padding: 10px;
  box-shadow: 0 0 2px 1px #e5e5e5;
}

th {
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
}
